﻿<!-- External JavaScripts
    ============================================= -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="content-wrap">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-7"><input type="search" class="form-control" id="txtSearch" placeholder="Search Company"></div>
                        <div class="col-md-3"><button type="submit" id="btnSearch" class="btn btn-default btn-primary" title="Search Buyers">Search</button></div>
                        <div class="col-md-2 filter"><a href="@Url.Action("AddCompany","Admin")"><input type="button" class="btn btn-default btn-primary" value="Add"></a></div>
                    </div>
                </div> <!-- row -->
                <div>&nbsp;</div>

                <div class="table-responsive">
                    <table id="tblCompanies" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th width="12%">Organisation</th>
                                <th width="12%">Contact Name</th>
                                <th width="18%">Job Role</th>
                                <th width="18%">Work Email</th>
                                <th width="15%">Phone</th>
                                <th width="20%">Status</th>
                            </tr>
                        </thead>

                        <tbody id="company-data-container"></tbody>
                    </table>

                    <div id="dMessage" style="font-size:14px;">No companies found</div>
                </div>
                <center>
                    <nav aria-label="Page navigation">
                        <ul id="paging-container" class="pagination"></ul>
                    </nav>
                </center>
            </div> <!-- content wrap -->
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TopMenu li").removeClass("active");
        $("#TopMenu li#Companies").addClass("active");

        $("#dMessage").hide();
        GetCompanies("", 1);
    });

    $(document).on("click", "li.page-number", function () {

        var pageIndex = $(this).attr("data-value");
        var searchText = $("#txtSearch").val();
        console.log(pageIndex);
        console.log(searchText);
        GetCompanies(searchText, pageIndex);
    });

    $(document).on("keydown", "#txtSearch", function (e) {
        if (e.keyCode == 13) {
            var searchText = $(this).val();
            GetCompanies(searchText, 1);
        }
    });

    $(document).on("click", "#btnSearch", function (e) {
        var searchText = $("#txtSearch").val();
        GetCompanies(searchText, 1);
    });

    $(document).on("click", "#btnDeleteCompany", function () {
        DeleteCompany($(this).attr("data-id"));
    });

    function GetCompanies(searchText, pageIndex) {
        $("#company-data-container").html("<tr><td colspan=\"6\" style=\"text-align:center\"><img src=\"../../Images/loading_dots.gif\" style=\"background-color: transparent;\" alt=\"Please wait..\" title=\"Please wait..\" /></td></tr>");
        $.ajax({
            url: '@Url.Action("GetCompanyList", "Admin")' + '?searchText=' + searchText + '&currentPage=' + pageIndex,
            type: 'GET',
            //data: '{"searchText":' + JSON.stringify(searchText) + ',"pageIndex":'+JSON.stringify(pageIndex)+'}',
            cache: false,
            success: function (result) {
                //console.log(result);
                $("#company-data-container").html(result);
                var totalSearchCount = $("#hdnTotalSearchCount").val();

                if (totalSearchCount > 0) {
                    $("#paging-container").show();
                    $("#tblCompanies").show();
                    $("#dMessage").hide();

                    var pageSize = $("#hdnPageSize").val();
                    var pageIndex = $("#hdnPageIndex").val();
                    var nextPageIndex = pageIndex;
                    var prevPageIndex = pageIndex;
                    var noOfPages = parseInt(totalSearchCount / pageSize);
                    if (totalSearchCount % pageSize > 0) {
                        noOfPages = noOfPages + 1;
                    }

                    if (parseInt(pageIndex) > 1 && parseInt(pageIndex) < parseInt(noOfPages)) {
                        nextPageIndex = parseInt(pageIndex) + 1;
                        prevPageIndex = parseInt(pageIndex) - 1;
                    }
                    else if (parseInt(pageIndex) == 1) {
                        nextPageIndex = parseInt(pageIndex) + 1;
                    }
                    else if (parseInt(pageIndex) == parseInt(noOfPages)) {
                        prevPageIndex = parseInt(pageIndex) - 1;
                    }
                    if (noOfPages > 1) {
                        var liHTML = "";
                        var liFirstHTML = "<li class=\"page-number\" data-value=\"" + prevPageIndex + "\"><a href=\"#\" aria-label=\"Previous\"><span aria-hidden=\"true\">«</span></a>";
                        var liLastHTML = "<li class=\"page-number\" data-value=\"" + nextPageIndex + "\"><a href=\"#\" aria-label=\"Next\"><span aria-hidden=\"true\">»</span></a>";


                        for (var i = 1; i <= noOfPages; i++) {
                            if (i == pageIndex)
                                liHTML = liHTML + "<li class=\"page-number\" data-value=\"" + i + "\"><a style=\"background: #F68C5E;color:#fff;\" href=\"#\">" + i + "</a></li>";
                            else
                                liHTML = liHTML + "<li class=\"page-number\" data-value=\"" + i + "\"><a href=\"#\">" + i + "</a></li>";
                        }
                        $("#paging-container").html(liFirstHTML + liHTML + liLastHTML);
                    }
                    else {
                        $("#paging-container").hide();
                    }
                }
                else {
                    $("#tblCompanies").hide();
                    $("#paging-container").hide();
                    $("#dMessage").show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error > " + jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }

    function DeleteCompany(UserID) {
        $.ajax({
            url: '@Url.Action("DeleteCompany", "Admin")',
            type: 'POST',
            data: '{"UserID":\'' + UserID + '\'}',
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                console.log(result);
                window.location = '@Url.Action("Companies", "Admin")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error is below > ");
                console.log(jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }
</script>

