﻿@model TOT.Models.CompanyModel
<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<section id="content">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Admin/Shared/_CompanyDetails.cshtml", Model)
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#TopMenu li").removeClass("active");
        $("#TopMenu li#Companies").addClass("active");
    });
</script>
