﻿@model TOT.Models.AdminUsersModel
<!-- External JavaScripts
    ============================================= -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="~/Scripts/functions.js"></script>
@using (Html.BeginForm("SaveAdmin", "Admin", FormMethod.Post, new { @id = "SaveAdminForm" }))
{
    @Html.HiddenFor(m => m.AdminUserID)

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="content-wrap">

                    <div class="col-sm-9" style="display:none;">

                        <img src="images/logo-primark.png" class="alignleft notopmargin nobottommargin" alt="Primark" style="max-width: 84px;">

                        <div class="heading-block noborder">
                            <input type="text" class="txt-comp" placeholder="Primark Limited" value="Primark Limited">
                            <span style="font-size:12px;"><a href="#">Change Profile Photo</a> | <a href="#">Clear Photo</a></span>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>


                    <div class="row">
                        <div>
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">First Name</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control titlecase required", @placeholder = "First Name" })
                                </div>
                            </div> <!-- 5 -->

                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="email">Last Name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control titlecase", @placeholder = "Last Name" })
                                </div>
                            </div> <!-- 5-->
                            <div class="col-sm-2">&nbsp;</div>
                        </div>
                    </div> <!-- row 1-->


                    <div class="row">
                        <div>
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="job_title">Email</label>
                                    @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class = "form-control required", @placeholder = "johnsmith@company.com" })
                                </div>
                            </div> <!-- 5 -->

                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="mobile">Phone</label>
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "e.g. +44 01616589745" })
                                </div>
                            </div> <!-- 5-->
                            <div class="col-sm-2">&nbsp;</div>
                        </div>
                    </div> <!-- row 2-->

                    <div class="row">
                        <div>
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control titlecase", @placeholder = "Manchester" })
                                </div>
                            </div> <!-- 5 -->

                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    @Html.PasswordFor(m => m.Password, new { @type = "password", @class = "form-control not-dark required", @placeholder = "Password" })
                                </div>
                            </div> <!-- 5-->
                            <div class="col-sm-2">&nbsp;</div>
                        </div>
                    </div> <!-- row 3-->

                    <div class="row">
                        <div style="margin-top:20px;">
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-3">&nbsp;</div>
                            <div class="col-sm-2"><button id="btnSave" type="button" class="btn btn-default btn-primary">Save</button></div>
                            <div class="col-sm-4">&nbsp;</div> <!-- 5-->
                        </div>
                    </div> <!-- row 4-->
                </div> <!-- content wrap -->
            </div>
        </div>
    </section>
}

<div class="modal fade" id="dErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Images/modal_close_icon.png">
                </button>
                <h4 class="modal-title" id="myModalLabel" style="">Error</h4>
            </div>
            <div class="modal-body">
                <div id="message-container" style="" class="form-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#TopMenu li").removeClass("active");
        $("#TopMenu li#MyProfile").addClass("active");
    });

    $("#Phone").keypress(function (e) {
        var charCode = e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            if (charCode == 32 || charCode == 43 || charCode == 40 || charCode == 41)
            { }
            else
                e.preventDefault();
        }
    });

    $(document).on("click", "#btnSave", function () {
        var isValid = true;
        var requiredLength = $("#SaveAdminForm .required").length;
        var errMsg = "";

        for (var i = 0; i < requiredLength; i++) {
            var currentObject = $($("#SaveAdminForm .required")[i]);

            if ($(currentObject).val().trim().length == 0) {
                isValid = false;

                var fieldName = "";

                switch ($(currentObject).attr("id")) {
                    case "FirstName":
                        errMsg += "- Please enter contact name<br/>";
                        fieldName = "contact name";
                        break;
                    case "EmailID":
                        errMsg += "- Please enter email<br/>";
                        fieldName = "company name";
                        break;
                    case "Password":
                        errMsg += "- Please enter password<br/>";
                        fieldName = "phone";
                        break;
                }

                //break;
            }
        }

        if (isValid) {
            if (ValidateEmail($("#EmailID").val())) {
                $("#SaveAdminForm").submit();
            }
            else {
                $("#message-container").html("Please enter valid email");
                $("#dErrorMessage").modal('toggle');
            }
        }
        else {
            $("#message-container").html(errMsg);
            $("#dErrorMessage").modal('toggle');
        }
    });
</script>
<script type="text/javascript" src="~/Scripts/common.js"></script>