﻿@model TOT.Models.AdminUsersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Trendontop" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <link rel="stylesheet" href="~/Styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Styles/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Admin | Trendontap</title>

    <style type="text/css">
        .button-blue {
            background: #0a6cd9;
        }

            .button-blue:hover {
                background: #ffb969;
            }
    </style>
</head>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container vertical-middle divcenter clearfix">

                        <div class="row center">
                            <a href="http://www.trendontap.com"><img src="~/images/logo-2.png" alt="Trendontap" title="Trendontap"></a>
                        </div>

                        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
                            <div class="panel-body" style="padding: 40px;">
                                @Html.AntiForgeryToken()
                                @*@using (Html.BeginForm("ForgotPassword", "Admin", FormMethod.Post, new { @class = "login_form" }))
                                    {*@
                                <div id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                                    <p align="center">Enter the email address associated with your account, and we'll email you a link to reset your password.</p>

                                    <div class="col_full">
                                        <label for="login-form-username">Enter your Email Address:</label>
                                        @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class = "form-control not-dark", @placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.EmailID, "", new { @style = "color:red;" })
                                    </div>

                                    <div id="dSave" class="col_full nobottommargin">
                                        <center><button type="button" class="button button-3d button-blue nomargin" id="btnSendEmail" name="" value="Send Email">Send Email</button></center>
                                    </div>
                                    <div id="dWait" style="display:none; font-size:14px; text-align:center;">
                                        Please wait..<br />
                                        <img src="../../Images/loading_dots.gif" alt="Please wait.." title="Please wait.." />
                                    </div>
                                </div>
                                @*  }*@
                                <center style="margin-top:10px;"><a href="@Url.Action("Login", "Admin")">Back to Login</a></center>
                            </div>
                        </div>

                        <div class="row center dark"><small>&copy; 2017 Trendontap Limited. All Rights Reserved.</small></div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

        <div class="modal fade" id="dMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="width:50%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Images/modal_close_icon.png">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" style=""></h4>
                    </div>
                    <div class="modal-body">
                        <div id="message-container" style="" class="form-group">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- #wrapper end -->
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/functions.js"></script>

    <script type="text/javascript">
        $(document).on("click", "#btnSendEmail", function () {
            if ($("#EmailID").val().trim().length != 0) {
                if (ValidateEmail($("#EmailID").val())) {
                    $("#dSave").hide();
                    $("#dWait").show();

                    SendEmail();
                }
                else {
                    $("#message-container").html("Please enter valid email address");
                    $("#dMessage").modal('toggle');
                    $("#myModalLabel").html("Error");
                }
            }
            else {
                $("#message-container").html("Please enter email address");
                $("#dMessage").modal('toggle');
                $("#myModalLabel").html("Error");
            }
        });

        function SendEmail() {
            $.ajax({
                url: '@Url.Action("ForgotPassword", "Admin")',
                type: 'POST',
                data: '{"EmailID":' + JSON.stringify($("#EmailID").val()) + '}',
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result);

                    $("#EmailID").val("");
                    $("#dSave").show();
                    $("#dWait").hide();

                    $("#message-container").html("We have sent an email to that address. Tap the link in that email to reset your password.");
                    $("#dMessage").modal('toggle');
                    $("#myModalLabel").html("Message");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#EmailID").val("");
                    $("#dSave").show();
                    $("#dWait").hide();

                    console.log("Error is below > ");
                    console.log(jqXHR);
                    console.log("Status > " + textStatus);
                    console.log("errorThrown > " + errorThrown);
                    //alert("Error");
                }
            });
        }
    </script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
</body>
</html>
