﻿@model TOT.Models.AdminUsersModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Trendontop" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <link rel="stylesheet" href="~/Styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Styles/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Login - Trendontap</title>

    <style type="text/css">
        .button-blue {
            background: #0a6cd9;
        }

            .button-blue:hover {
                background: #0550a3;
            }

        .questrial {
            font-family: 'Questrial', sans-serif;
        }
    </style>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container vertical-middle divcenter clearfix">

                        <div class="row center">
                            <a href="index.html"><img src="~/Images/logo-2.png" alt="Trendontap" title="Trendontap"></a>
                        </div>

                        @Html.AntiForgeryToken()
                        @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "login_form" }))
                        {
                            <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
                                <div class="panel-body" style="padding: 40px;">
                                    <div id="login-form" name="login-form" class="nobottommargin">
                                        <h3 class="questrial">Login to your account</h3>

                                        <div class="col_full">
                                            @Html.ValidationSummary(false, "", new { @style = "color:black;" })
                                        </div>

                                        <div class="col_full">
                                            <label for="login-form-username">Enter your Email:</label>
                                            @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class = "form-control not-dark", @placeholder = "Email" })
                                        </div>

                                        <div class="col_full">
                                            <label for="login-form-password">Password:</label>
                                            @Html.PasswordFor(m => m.Password, new { @type = "password", @class = "form-control not-dark", @placeholder = "Password" })
                                        </div>

                                        <div class="col_full nobottommargin">
                                            <input type="submit" value="Login" class="button button-3d button-blue nomargin" id="login-form-submit" name="login-form-submit" />
                                            <a href="@Url.Action("ForgotPassword", "Admin")" class="fright">Forgot Password?</a>
                                        </div>
                                    </div>

                                    <!-- <a href="trends.html">Login</a>-->
                                    <!--<div class="line line-sm"></div>

                                    <div class="center">
                                        <h4 style="margin-bottom: 15px;">or Login with:</h4>
                                        <a href="#" class="button button-rounded si-facebook si-colored">Facebook</a>
                                        <span class="hidden-xs">or</span>
                                        <a href="#" class="button button-rounded si-twitter si-colored">Twitter</a>
                                    </div> -->

                                </div>
                            </div>
                        }

                        <div class="row center dark"><small>&copy; 2017 Trendontap Limited. All Rights Reserved.</small></div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/functions.js"></script>

    
</body>
</html>
