﻿@model TOT.Models.AdminUsersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Trendontop" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

    <link rel="stylesheet" href="~/Styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Styles/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Admin | Trendontap</title>

    <style type="text/css">
        .button-blue {
            background: #0a6cd9;
        }

            .button-blue:hover {
                background: #ffb969;
            }
    </style>
</head>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container vertical-middle divcenter clearfix">

                        <div class="row center">
                            <a href="http://www.trendontap.com"><img src="~/images/logo-2.png" alt="Trendontap" title="Trendontap"></a>
                        </div>

                        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
                            <div class="panel-body" style="padding: 40px;">
                                @Html.AntiForgeryToken()
                                <div id="login-form" name="login-form" class="nobottommargin">
                                    @Html.HiddenFor(m => m.AdminUserID)
                                    <div class="col_full" style="margin-bottom: 30px;">
                                        <label for="login-form-username">New Password</label>
                                        @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control not-dark required", @placeholder = "New Password" })
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-username">Confirm Password</label>
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control not-dark required", @placeholder = "Confirm Password" })
                                    </div>

                                    <div id="dSave" class="col_full nobottommargin">
                                        <center><button type="button" class="button button-3d button-blue nomargin" id="btnResetPassword" name="" value="Reset Password">Reset Password</button></center>
                                    </div>
                                    <div id="dWait" style="display:none; font-size:14px; text-align:center;">
                                        Please wait..<br />
                                        <img src="../../Images/loading_dots.gif" alt="Please wait.." title="Please wait.." />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row center dark"><small>&copy; 2017 Trendontap Limited. All Rights Reserved.</small></div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

        <div class="modal fade" id="dMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="width:50%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Images/modal_close_icon.png">
                        </button>
                        <h4 class="modal-title" id="myModalLabel" style=""></h4>
                    </div>
                    <div class="modal-body">
                        <div id="message-container" style="" class="form-group">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- #wrapper end -->
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/Scripts/functions.js"></script>

    <script type="text/javascript">
        $(document).on("click", "#btnResetPassword", function () {
            var isValid = true;
            var requiredLength = $("#login-form .required").length;
            var errMsg = "";

            for (var i = 0; i < requiredLength; i++) {
                var currentObject = $($("#login-form .required")[i]);

                if ($(currentObject).val().trim().length == 0) {
                    isValid = false;

                    switch ($(currentObject).attr("id")) {
                        case "Password":
                            errMsg += "- Please enter password<br/>";
                            break;
                        case "ConfirmPassword":
                            errMsg += "- Please enter confirm password<br/>";
                            break;
                    }
                }
            }

            if (isValid) {
                if ($("#Password").val().trim() != $("#ConfirmPassword").val().trim()) {
                    $("#message-container").html("New password and confirm password should be same");
                    $("#dMessage").modal('toggle');
                    $("#myModalLabel").html("Error");
                }
                else {
                    $("#dSave").hide();
                    $("#dWait").show();

                    ResetAdminPwd();
                }
            }
            else {
                $("#message-container").html(errMsg);
                $("#dMessage").modal('toggle');
                $("#myModalLabel").html("Error");
            }
        });

        function ResetAdminPwd() {
            $.ajax({
                url: '@Url.Action("ResetPassword", "Admin")',
                type: 'POST',
                data: '{"adminUserID":' + JSON.stringify($("#AdminUserID").val()) + ', "password":' + JSON.stringify($("#Password").val()) + '}',
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $("#Password").val("");
                    $("#ConfirmPassword").val("");
                    $("#dSave").show();
                    $("#dWait").hide();

                    var msg = confirm("Your password has been updated successfully. Proceed to Login?");

                    if (msg) {
                        window.location = '@Url.Action("Login", "Admin")';
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Password").val("");
                    $("#ConfirmPassword").val("");
                    $("#dSave").show();
                    $("#dWait").hide();

                    console.log("Error is below > ");
                    console.log(jqXHR);
                    console.log("Status > " + textStatus);
                    console.log("errorThrown > " + errorThrown);
                    //alert("Error");
                }
            });
        }
    </script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
</body>
</html>
