﻿<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Trendontap" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Styles/responsive.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Company | Trendontap</title>

    <style type="text/css">
        .automargin {
            margin-left: auto;
            margin-right: auto;
            width: 120px;
        }

        .greenStatus {
            background: url(../../images/sprite.png) no-repeat -3px 0px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: default;
        }

        .searchIcon {
            background: url(../../images/sprite.png) no-repeat -3px -46px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .editIcon {
            background: url(../../images/sprite.png) no-repeat -3px -93px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .removeIcon {
            background: url(../../images/sprite.png) no-repeat -3px -139px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .grayIcon {
            background: url(../../images/sprite.png) no-repeat -3px -180px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: default;
        }

        #header,
        #header-wrap,
        #logo img {
            height: auto;
            -webkit-transition: height .4s ease, opacity .3s ease;
            -o-transition: height .4s ease, opacity .3s ease;
            transition: height .4s ease, opacity .3s ease;
        }

        .admin-selected li {
            display: inline;
            margin-right: 1.5em;
        }

        .pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            color: #337ab7;
        }

        .btn-no-bdr {
            border-color: #f5f5f5;
            text-transform: uppercase;
            font-size: 11px;
            margin-top: 4px;
        }
    </style>
</head>

<body class="stretched">

    <div id="wrapper" class="clearfix">
        <header class="hdr">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <div id="logo">
                    <a href="@Url.Action("Buyers", "Company")" class="admin-logo"><img src="~/Images/logo-admin.jpg" alt="Trendontap" title="Trendontap"></a>
                </div><!-- #logo end -->

                <div id="top-account" class="dropdown">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i><i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li style="text-align:center; color:#00C;"><center><span id="dName"></span></center></li>
                        <li style="text-align:center; margin-right:0;"><span id="dEmail"></span></li>
                        <li><a style="text-align: center;" href="@Url.Action("EditProfile", "Company")">Update Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a style="text-align: center;" id="lnkLogout" href="#">Logout <i class="icon-signout"></i></a></li>
                    </ul>
                </div> <!-- dropdown -->

                <nav id="primary-menu">

                    <ul>
                        <li class="current"><a href="@Url.Action("Buyers", "Company")" style="color:#fff;"><div><span class="glyphicon glyphicon-home"></span> Home</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->
                <!--<div class="clearfix">&nbsp;</div>-->

            </div> <!-- container -->

            <div class="container admin-selected">
                <ul id="TopMenu">
                    <li id="Buyers"><a href="@Url.Action("Buyers", "Company")">My Buyers</a></li>
                    <li style="display:none"><a href="trends.html">My Trends</a></li>
                    <li id="Seasons"><a href="@Url.Action("Seasons", "Company")">Seasons</a></li>
                    <li id="MyProfile"><a href="@Url.Action("EditProfile", "Company")">My Profile</a></li>
                </ul>
            </div>

        </header>
    </div> <!-- header wrap -->
    <!-- Content
    ============================================= -->
    @RenderBody()<!-- #content end -->
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <script>
        var companyDetail = new Object();

        $(document).ready(function () {
            GetCompanyDetails();
        });

        function GetCompanyDetails() {
            $.ajax({
                url: '@Url.Action("GetCompany", "Company")',
                type: 'GET',
                dataType: "json",
                cache: false,
                success: function (result) {
                    console.log(result);
                    companyDetail = result;
                    $("#dName").html(companyDetail.ContactName);
                    $("#dEmail").html(companyDetail.WorkEmail);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error is below > ");
                    console.log(jqXHR);
                    console.log("Status > " + textStatus);
                    console.log("errorThrown > " + errorThrown);
                    //alert("Error");
                }
            });
        }

        jQuery("#tabs-profile").on("tabsactivate", function (event, ui) {
            jQuery('.flexslider .slide').resize();
        });

        $("#lnkLogout").click(function () {
            //if (confirm("Are you sure want to logout?")) {
            window.location = '@Url.Action("Logout", "Company")';
            //}
        });
    </script>

</body>
</html>