@charset "utf-8";
/* CSS Document */

.section-blue {
	background:#0a6cd9;
	padding:2.0em 0 2.0em 0;
	font-family: 'Questrial', sans-serif;
	color:#fff;
	text-align:center;
	}
	.section-blue img{
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
	.section-blue p{
		width:250px;
		font-family:Arial, Helvetica, sans-serif;
		text-align:center;
		margin-top:1.5em;
		margin-left:auto;
		margin-right:auto;
	}
	.section-blue h1{
		color:#fff;
		text-align:center;
		text-transform:uppercase;
		letter-spacing:0.35em;
		font-family: 'Questrial', sans-serif;
		margin-bottom:0;
	}
	.section-blue h2{
		color:#fff;
		text-align:center;
		text-transform:uppercase;
		letter-spacing:0.25em;
		font-family: 'Questrial', sans-serif;
		margin-bottom:2.0em;
	}
	.section-blue span{
		font-size:1.5em;
		margin-bottom:2.0em;
		padding-bottom:2.0em;
	}
	
	.section-blue label{
		text-align:left;
		color:#fff;
		margin-left:0;
		font-family:Arial, Helvetica, sans-serif;
		text-transform:capitalize;
		font-weight:normal;
		font-size:1.0em;
	}
	
	.section-blue .form-control {
		border:none;
		}
	.section-blue button{
		background:#074c99;
		border:2px solid #fff;
		margin-left:auto;
		margin-right:auto;
		margin-top:5.0em;
		margin-bottom:2.0em;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		width:25%;
	}
	.section-blue button:hover{
		background:#ffb969;
		border-color:#fff;
		color:#074c99;
	}
	.section-blue-frm {
		text-align:left;
		}
.slogan-hdr {
	/*color:#0a6cd9;*/
	color:#fff;
	text-transform:uppercase;
	letter-spacing:0.25em;
	font-family: 'Varela Round', sans-serif;
	}
.blue-text {
	color:#0a6cd9;
	font-family: 'Varela Round', sans-serif;
	}
.grey-text {
	color:#595959;
	font-family: 'Varela Round', sans-serif;
	}
	
.trendon-footer {
	background: #000 url(../images/bg-footer.png) repeat top center;
	height:363px;
	padding:0;
	text-align:center;
	margin-top:0;
	}
	
.trendon-footer h1{
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0.25em;
	/*font-family: 'Questrial', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
	margin-bottom:1.0em;
	font-size:3.0em;
	margin-top:-25px;
	padding-top:0;
	}
.sm-icon {
	float:left;
	/*width:25%;*/
	/*background:pink;*/
	}
.trendon-copy {
	background: rgba(255, 255, 255, 0.1);
	padding:0.8em 0 0.8em 0;
	color:#999;
	text-align:left;
	padding-left:2.0em;
	}

.section-trend {
	text-align:center;
	}	
.trendon-row {
	padding-left:0;
	padding-right:0;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	background:pink;
	}
.row {
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	}

video{
  display:block;

}
video.scale2{
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}





.steps {
	background:url(../images/map-1.png) no-repeat center top;
	}
.para-1 {
	padding-top:150px;
	}
.para-2 {
	padding-top:60px;
	}
.para-3 {
	padding-top:50px;
	}
.para-4 {
	padding-top:70px;
	}
.section-padd {
	padding-bottom:35px;
	}					
@media (max-width: 991px) and (min-width: 768px) {

.steps {
	background:url(../images/map-2.png) no-repeat center top;
	}
.para-1 {
	width:350px;
	margin-left:380px;
	padding-top:80px;
	}
.para-2 {
	width:350px;
	}
.para-3 {
	width:350px;
	margin-left:380px;
	padding-top:0;
	}
.para-4 {
	width:340px;
	}
.section-padd {
	padding-bottom:3px;
	}
.trendon-footer h1{
	font-size:2.5em;
}
.trendon-footer img{
	max-width:100%;
	/*display:inline-block;*/
}
.sm-icon {
	float:left;
	width:20%;	
	}
}

@media (max-width: 767px) and (min-width: 480px) {
	
.steps {
	background:url(../images/map-3.png) no-repeat center top;
	}
.para-1 {
	padding-top:45px;
	}
.para-2 {
	padding-top:125px;
	}

.para-4 {
	padding-top:125px;
	}
.section-padd {
	margin-top:30px;
	padding-bottom:0;
	}
.trendon-footer h1{
	font-size:2.5em;
}
.trendon-footer img{
	max-width:100%;
}
.sm-icon {
	float:left;
	width:30%;	
	}
.section-blue button{
	width:50%;
}
}
@media (max-width: 479px) and (min-width: 304px) {
.steps {
	background:url(../images/map-4.png) no-repeat center top;
	}
.para-1 {
	padding-top:25px;
	}
.para-2 {
	padding-top:93px;
	}
.para-3 {
	padding-top:10px;
	}			
.para-4 {
	padding-top:90px;
	}
.trendon-footer h1{
	font-size:2.3em;
}
.sm-icon {
	width:29%;
	}
.section-blue button{
	width:50%;
}
}