﻿@model TOT.Models.CompanyModel
@Html.ValidationMessage("SaveCompanyError", new { @class = "text-danger centerText" }, "h4")
@using (Html.BeginForm("SaveCompany", "Admin", FormMethod.Post, new { @id = "SaveCompanyForm" }))
{
    @Html.HiddenFor(m => m.UserID)


    <div class="row">
        <div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">First Name</label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control titlecase required", @placeholder = "First Name" })
                </div>
            </div> <!-- 5 -->

            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="name">Last Name</label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control titlecase required", @placeholder = "Last Name" })
                </div>
            </div> <!-- 5-->
            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div> <!-- row 1-->
    <div class="row">
        <div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="company">Company Name</label>
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control titlecase required", @placeholder = "Company Name" })
                </div>
            </div> <!-- 5 -->
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="job_title">Job Role</label>
                    @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control titlecase", @placeholder = "Purchase Manager" })
                </div>
            </div> <!-- 5-->
            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div> <!-- row 2-->
    <div class="row">
        <div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="city">Work Email</label>
                    @Html.TextBoxFor(m => m.EmailID, new { @type = "email", @class = "form-control required", @placeholder = "johnsmith@company.com" })
                </div>
            </div> <!-- 5 -->

            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="mobile">Work Phone</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required", @placeholder = "e.g. +44 01616589745" })
                </div>
            </div> <!-- 5-->
            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div> <!-- row 3-->
    <div class="row">
        <div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="city">City</label>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control titlecase required", @placeholder = "Manchester" })
                </div>

            </div> <!-- 5 -->
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="city">Country</label>
                    @Html.DropDownListFor(m => m.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, "Select country", new { @class = "form-control" })
                    <select id="ddlCountry" class="form-control" style="display:none;" data-message="Please select country"></select>
                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div> <!-- row 4-->
    <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3">
            <center><a class="button button-blue btn-lg" href="@Url.Action("Companies","Admin")">Cancel</a></center>
        </div> <!-- 5 -->

        <div class="col-sm-2"><button id="btnSave" type="button" class="button button-blue btn-lg">Save</button></div>
        <div class="col-sm-4">&nbsp;</div> <!-- 5-->
    </div> <!-- row 4-->
     <!-- content wrap -->
}

<div class="modal fade" id="dErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Images/modal_close_icon.png">
                </button>
                <h4 class="modal-title" id="myModalLabel" style="">Error</h4>
            </div>
            <div class="modal-body">
                <div id="message-container" style="" class="form-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //GetCountryList();
    });

    function GetCountryList() {
        $("#ddlCountry").html("<option value=\"-1\">Loading countries</option>");
        $.ajax({
            url: '@Url.Action("GetCountryList", "Admin")',
            type: 'GET',
            dataType: "json",
            cache: false,
            success: function (result) {
                console.log(result);
                var html = "<option value='0'>Select</option>";
                for (var i = 0; i < result.length; i++) {
                    html = html + "<option value=\"" + result[i].CountryID + "\">" + result[i].CountryName + "</option>";
                }
                $("#ddlCountry").html(html);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error is below > ");
                console.log(jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }

    $("#Phone").keypress(function (e) {
        var charCode = e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            if (charCode == 32 || charCode == 43 || charCode == 40 || charCode == 41)
            { }
            else
                e.preventDefault();
        }
    });

    $(document).on("click", "#btnSave", function () {
        var isValid = true;
        var requiredLength = $("#SaveCompanyForm .required").length;
        var errMsg = "";

        for (var i = 0; i < requiredLength; i++) {
            var currentObject = $($("#SaveCompanyForm .required")[i]);

            if ($(currentObject).val().trim().length == 0) {
                isValid = false;

                var fieldName = "";

                switch ($(currentObject).attr("id")) {
                    case "FirstName":
                        errMsg += "- Please enter first name<br/>";
                        fieldName = "contact name";
                        break;
                    case "LastName":
                        errMsg += "- Please enter last name<br/>";
                        fieldName = "contact name";
                        break;
                    case "CompanyName":
                        errMsg += "- Please enter company name<br/>";
                        fieldName = "company name";
                        break;
                    case "Phone":
                        errMsg += "- Please enter phone<br/>";
                        fieldName = "phone";
                        break;
                    case "EmailID":
                        errMsg += "- Please enter work email<br/>";
                        fieldName = "work email";
                        break;
                    case "City":
                        errMsg += "- Please enter city<br/>";
                        fieldName = "city";
                        break;
                }

                //break;
            }
        }

        if (isValid) {
            if (ValidateEmail($("#EmailID").val())) {
                $("#SaveCompanyForm").submit();
            }
            else {
                $("#message-container").html("Please enter valid email");
                $("#dErrorMessage").modal('toggle');
            }
        }
        else {
            $("#message-container").html(errMsg);
            $("#dErrorMessage").modal('toggle');
        }
    });
</script>
<script type="text/javascript" src="~/Scripts/common.js"></script>
