﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Trendontap" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Styles/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Styles/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>Complete Profile | Trendontap</title>

    <style type="text/css">
        .automargin {
            margin-left: auto;
            margin-right: auto;
            width: 120px;
        }

        .greenStatus {
            background: url(../../images/sprite.png) no-repeat -3px -3px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .searchIcon {
            background: url(../../images/sprite.png) no-repeat -3px -46px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .editIcon {
            background: url(../../images/sprite.png) no-repeat -3px -93px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .removeIcon {
            background: url(../../images/sprite.png) no-repeat -3px -139px;
            width: 25px;
            height: 25px;
            float: left;
            cursor: pointer;
        }

        .button-blue {
            background: #0a6cd9;
        }

            .button-blue:hover {
                background: #0550a3;
            }

        .questrial {
            font-family: 'Questrial', sans-serif;
        }


        .pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            color: #337ab7;
        }

        .btn-no-bdr {
            border-color: #f5f5f5;
            text-transform: uppercase;
            font-size: 11px;
            margin-top: 4px;
        }

        .ok {
            margin-top: 32px;
            font-size: 20px;
            color: #060;
        }

        #content {
            width: 80%;
            margin: auto;
            margin-top: 10px;
            border-radius: 5px;
            padding: 0;
        }

            #content h1 {
                margin: 20px 0;
                padding: 0;
                margin-left: 0;
            }
    </style>
</head>

<body class="stretched" style="background:#1f2532;">
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="container">
            <h1 align="center">Your profile has been completed !!</h1>
            <p align=center> You now need to download the mobile app and login using your details to start accessing your trends with a tap of a finger.</br> Available on iPhone and Android. </p>
            <p align=center><img src="../../images/download-app.png" alt=""></p>
            <p align=center>
                <a href="https://itunes.apple.com/ca/app/trendontap/id1203856766?mt=8" target="_blank"><img src="../../images/button_appstore.png" alt=""></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../images/button_playstore.png" alt="">
            </p>
            <div style="display:none;">
                <p align=center> If you have downloaded the app, click below to add your trends and manage your profile. </br> Alternatively you can also manage and your trends through the App. <p>
                <p align="center"><button class="button button-3d button-blue nomargin" id="" name="" value="" onClick="">Let's Begin!</button></p>
            </div>
        </div>
        <!-- container ->

        </section><!-- #content end -->
        </div><!-- #wrapper end -->
        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="icon-angle-up"></div>

        <!-- External JavaScripts
        ============================================= -->
        <script type="text/javascript" src="~/Scripts/jquery.js"></script>
        <script type="text/javascript" src="~/Scripts/plugins.js"></script>

        <!-- Footer Scripts
        ============================================= -->
        <script type="text/javascript" src="~/Scripts/functions.js"></script>

        <script>
            jQuery("#tabs-profile").on("tabsactivate", function (event, ui) {
                jQuery('.flexslider .slide').resize();
            });
        </script>

</body>
</html>
