﻿@model List<TOT.Models.BuyerModel>
@if (Model == null)
{
    <tr>
        <td style="width:100%;" colspan="5">No buyers found</td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.JobTitle</td>
            <td>@item.EmailID</td>
            <td>@item.Phone</td>
            <td align="center">
                <div class="automargin">
                    @if (item.IsActive)
                    {
                        <div class="greenStatus">&nbsp;</div>
                    }
                    else
                    {
                        <div class="grayIcon">&nbsp;</div>
                    }
                    <div style="display:none;" class="searchIcon">&nbsp;</div>
                    <a href="@Url.Action("EditBuyer", "Company", new { userId = item.UserID })"><div class="editIcon">&nbsp;</div></a>
                    <a data-toggle="modal" data-target="#action_remove_@item.UserID">
                        <div class="removeIcon">&nbsp;</div>
                    </a>
                </div>
                <div class="modal fade" id="action_remove_@item.UserID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header template_modal_header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <img src="~/Images/modal_close_icon.png">
                                    </span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Delete Buyer</h4>
                            </div>
                            <br>
                            <div class="modal-body">
                                <p style="text-align: center;">Are you sure you want to delete this buyer?</p>
                            </div>
                            <div class="modal_button-wrapper">
                                <button type="button" class="btn popup_blue-btn" style="margin-bottom:20px;" data-dismiss="modal" id="btnDeleteBuyer" data-id="@item.UserID">
                                    Delete
                                </button>
                            </div>
                            <div class="modal-footer template_modal_footer"></div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>


    }

    if (Model.Count() == 0)
    {
        <tr>
            <td style="width:100%;" colspan="6">No buyers found</td>
        </tr>
    }

}
<input type="hidden" id="hdnTotalSearchCount" value="@ViewBag.TotalSearchCount" />
<input type="hidden" id="hdnPageSize" value="@ViewBag.PageSize" />
<input type="hidden" id="hdnPageIndex" value="@ViewBag.PageIndex" />


