﻿@model TOT.Models.BuyerModel

@Html.ValidationMessage("SaveBuyerError", new { @class = "text-danger centerText" }, "h4")
@using (Html.BeginForm("SaveBuyer", "Company", FormMethod.Post, new { @id = "SaveBuyerForm" }))
{
    @Html.HiddenFor(m => m.UserID)

    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="name">First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control titlecase required", @placeholder = "First Name" })
            </div>
        </div> <!-- 5 -->

        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Last Name</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control titlecase", @placeholder = "Last Name" })
            </div>
        </div> <!-- 5-->
        <div class="col-sm-2">&nbsp;</div>
    </div> <!-- row 1-->


    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="job title">Job Title</label>
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control titlecase", @placeholder = "Purchase Manager" })
            </div>
        </div> <!-- 5 -->

        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="email">Email</label>
                @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control required", @placeholder = "johnsmith@gmail.com" })
            </div>
        </div> <!-- 5-->
        <div class="col-sm-2">&nbsp;</div>

    </div> <!-- row 2-->


    <div class="row">

        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="phone">Phone</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control required", @placeholder = "000123456" })
            </div>
        </div> <!-- 5 -->

        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="city">City</label>
                @Html.TextBoxFor(m => m.City, new { @class = "form-control titlecase required", @placeholder = "Manchester" })
            </div>
        </div> <!-- 5-->
        <div class="col-sm-2">&nbsp;</div>

    </div> <!-- row 3-->

    <div>&nbsp;</div>

    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            @if (!Model.IsActive)
            {
                <input id="chkIsDeactivated" type="checkbox" value="true" checked="checked" name="IsDeactivated">
            }
            else
            {
                <input id="chkIsDeactivated" type="checkbox" value="true" name="IsDeactivated">
            }
            <label for="checkbox">&nbsp;Deactivate</label>
        </div>
        <div class="col-sm-3">&nbsp;</div>


    </div> <!-- row 4-->

    <div class="row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3">
            <center><a class="button button-blue btn-lg" href="@Url.Action("Buyers", "Company")">Cancel</a></center>
        </div> <!-- 5 -->

        <div class="col-sm-2"><button id="btnSave" type="button" class="button button-blue btn-lg">Save</button></div>
        <div class="col-sm-4">&nbsp;</div> <!-- 5-->
    </div>
}

<div class="modal fade" id="dErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:50%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Images/modal_close_icon.png">
                </button>
                <h4 class="modal-title" id="myModalLabel" style="">Error</h4>
            </div>
            <div class="modal-body">
                <div id="message-container" style="" class="form-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#Phone").keypress(function (e) {
        var charCode = e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            if (charCode == 32 || charCode == 43 || charCode == 40 || charCode == 41)
            { }
            else
                e.preventDefault();
        }
    });

    $(document).on("click", "#btnSave", function () {
        var isValid = true;
        var requiredLength = $("#SaveBuyerForm .required").length;
        var errMsg = "";

        for (var i = 0; i < requiredLength; i++) {
            var currentObject = $($("#SaveBuyerForm .required")[i]);

            if ($(currentObject).val().trim().length == 0) {
                isValid = false;

                var fieldName = "";

                switch ($(currentObject).attr("id")) {
                    case "FirstName":
                        errMsg += "- Please enter first name<br/>";
                        fieldName = "first name";
                        break;
                    case "EmailID":
                        errMsg += "- Please enter email<br/>";
                        fieldName = "email";
                        break;
                    case "Phone":
                        errMsg += "- Please enter phone<br/>";
                        fieldName = "phone";
                        break;
                    case "City":
                        errMsg += "- Please enter city<br/>";
                        fieldName = "city";
                        break;
                }

                //break;
            }
        }
        if (isValid) {
            if (ValidateEmail($("#EmailID").val())) {
                $("#SaveBuyerForm").submit();
            }
            else {
                $("#message-container").html("Please enter valid email");
                $("#dErrorMessage").modal('toggle');
            }
        }
        else {
            $("#message-container").html(errMsg);
            $("#dErrorMessage").modal('toggle');
        }
    });
</script>
<script type="text/javascript" src="~/Scripts/common.js"></script>
