﻿@model List<TOT.Models.SeasonsModel>
@if (Model == null)
{
    <tr>
        <td style="width:100%;" colspan="5">No buyers found</td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.DateCreated.Substring(0, 10)</td>
            <td>@item.Name</td>
            <td align="center">
                <div class="automargin">
                    @if (item.IsActive)
                    {
                        <div class="greenStatus">&nbsp;</div>
                    }
                    else
                    {
                        <div class="grayIcon">&nbsp;</div>
                    }
                    <div style="display:none;" class="searchIcon">&nbsp;</div>
                    <a id="lnkEditSeason" onclick="LoadSeasonDetails(this)" data-url="@Url.Action("GetSeasonDetails", "Company")" data-id="@item.ID"><div class="editIcon">&nbsp;</div></a>
                    <a data-toggle="modal" data-target="#action_remove_@item.ID">
                        <div class="removeIcon">&nbsp;</div>
                    </a>
                </div>
                <div class="modal fade" id="action_remove_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header template_modal_header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <img src="~/Images/modal_close_icon.png">
                                    </span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Delete Season</h4>
                            </div>
                            <br>
                            <div class="modal-body">
                                <p style="text-align: center;">Are you sure you want to delete this season?</p>
                            </div>
                            <div class="modal_button-wrapper">
                                <button type="button" class="btn popup_blue-btn" style="margin-bottom:20px;" data-dismiss="modal" id="btnDeleteSeason" data-id="@item.ID">
                                    Delete
                                </button>
                            </div>
                            <div class="modal-footer template_modal_footer"></div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModal_editSeason_@item.ID" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content container-sign">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Edit Season</h2>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="txtESeasonName_@item.ID" placeholder="Season Name">
                                    </div>
                                    <div class="col-sm-2">&nbsp;</div>
                                </div> <!-- row -->
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-3">
                                        <input id="chkEIsDeactivated_@item.ID" class="styled" type="checkbox">
                                        <label for="chkEIsDeactivated_@item.ID">
                                            Deactivate
                                        </label>
                                    </div>
                                    <div class="col-sm-2">&nbsp;</div>
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row">
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-1"><button id="btnEditSeason" type="submit" class="btn btn-primary" data-id="@item.ID">Save</button></div>
                                    <div class="col-sm-1">&nbsp;</div>
                                </div>

                                <div class="row">&nbsp;</div>

                            </div> <!-- modal body -->
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

    if (Model.Count() == 0)
    {
        <tr>
            <td style="width:100%;" colspan="6">No seasons found</td>
        </tr>
    }
}
<input type="hidden" id="hdnTotalSearchCount" value="@ViewBag.TotalSearchCount" />
<input type="hidden" id="hdnPageSize" value="@ViewBag.PageSize" />
<input type="hidden" id="hdnPageIndex" value="@ViewBag.PageIndex" />



