﻿<div style='min-width:480px;'>
    <div style='text-align: center; width:100%;'>
        <img src='https://app.trendontap.com/images/logo-email.png' alt='Trendontap' title='Trendontap' height='129' width='200' />
    </div>
    <div style='padding: 0 10px 20px 10px;border-style:solid;border-color:darkgrey;border-width:thin;'>
        <h4 align='center' style='font-family:Helvetica,arial,sans-serif;font-size:28px;color:#484a6f;text-align:center;line-height:30px'>Hello,</h4>
        <h4 align='center' style='font-family:Helvetica,arial,sans-serif;font-size:20px;color:#484a6f;text-align:center;line-height:20px;padding:0 60px'>[UserName] from [CompanyName] wants to connect with you on [CoName].</h4>
        <p style='font-family:Helvetica,arial,sans-serif;font-size:16px;color:#484a6f;text-align:center;line-height:20px;padding:0 60px' align='center'>To join their network, download the app below and enter your 8 digit activation code.</p>
        <p style='font-family:Helvetica,arial,sans-serif;font-size:16px;color:#484a6f;text-align:center;line-height:20px;padding:0 60px' align='center'>Activation code: [ActivationCode]</p>
        <br />
        <table cellpadding='0' cellmargin='0' border='0' style='height:40px; width:250px;' align='center'>
            <tr>
                <td bgcolor='#1265A8' valign='middle' align='center' style='text-align: center; height:40px; width:250px;border-radius:3px; border-bottom:3px solid rgba(0,0,0,0.15); -webkit-transition: none;-o-transition:none;transition:none;'>
                    <div style='font-size: 14px; font-weight: 600; color: #ffffff; line-height: 1; margin: 0; padding: 0; mso-table-lspace:0; mso-table-rspace:0;'>
                        <a href='[ActivationLink]' style='text-decoration: none; color: #ffffff; letter-spacing: 1px; border: none; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); font-family: Helvetica,arial,sans-serif; mso-table-lspace:0; mso-table-rspace:0; text-transform: uppercase;' border='0'>Download App</a>
                    </div>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>

