﻿@model TOT.Models.BuyerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="content-wrap">

                <div class="clear"></div>
                @Html.Partial("~/Views/Company/Shared/_BuyerDetails.cshtml", Model)
            </div> <!-- content wrap -->
        </div>
    </div>
</section><!-- #content end -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#TopMenu li").removeClass("active");
        $("#TopMenu li#Buyers").addClass("active");
    });
</script>

