﻿
@{
    ViewBag.Title = "Seasons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="content-wrap">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-7"><input type="search" class="form-control" id="txtSearch" placeholder="Search Buyers"></div>
                        <div class="col-md-3"><button type="submit" id="btnSearch" class="btn btn-default btn-primary" title="Search Buyers">Search</button></div>
                        <div class="col-md-2 filter"><input type="button" class="btn btn-default btn-primary" data-target="#myModal_addSeason" data-toggle="modal" value="Add"></div>
                    </div>
                </div> <!-- row -->
                <div>&nbsp;</div>

                <div class="table-responsive">
                    <table id="tblSeasons" class="table table-bordered table-striped">
                        <thead>
                            <tr>

                                <th width="41.5%">Date Added</th>
                                <th width="41.5%">Seasons</th>
                                <th width="15%">Status</th>
                            </tr>
                        </thead>

                        <tbody id="season-data-container"></tbody>
                    </table>

                    <div id="dMessage" style="font-size:14px;">No seasons found</div>
                </div>
                <center>
                    <nav aria-label="Page navigation">
                        <ul id="paging-container" class="pagination"></ul>
                    </nav>
                </center>
            </div> <!-- content wrap -->
        </div>
    </div>

    <div class="modal fade" id="myModal_addSeason" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content container-sign">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Add Season</h2>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1">&nbsp;</div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="txtSeasonName" placeholder="Season Name">
                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div> <!-- row -->
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-sm-1">&nbsp;</div>
                        <div class="col-md-7">
                            <input id="chkIsDeactivated" class="styled" type="checkbox">
                            <label for="chkIsDeactivated">
                                Deactivate
                            </label>
                        </div>
                        <div class="col-sm-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-sm-1">&nbsp;</div>
                        <div class="col-md-3"><button id="btnAddSeason" type="submit" class="btn btn-primary">Save</button></div>
                        <div class="col-md-1">&nbsp;</div>
                    </div>

                    <div class="row">&nbsp;</div>

                </div> <!-- modal body -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="dErrorMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:50%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/Images/modal_close_icon.png">
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="">Error</h4>
                </div>
                <div class="modal-body">
                    <div id="message-container" style="" class="form-group">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn popup_blue-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- External JavaScripts
    ============================================= -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TopMenu li").removeClass("active");
        $("#TopMenu li#Seasons").addClass("active");
        $("#dMessage").hide();
        GetSeasons("", 1);
    });

    $(document).on("click", "li.page-number", function () {

        var pageIndex = $(this).attr("data-value");
        var searchText = "";
        console.log(pageIndex);
        console.log(searchText);
        GetSeasons(searchText, pageIndex);
    });

    $(document).on("keydown", "#txtSearch", function (e) {
        if (e.keyCode == 13) {
            var searchText = $(this).val();
            GetSeasons(searchText, 1);
        }
    });

    $(document).on("click", "#btnSearch", function (e) {
        var searchText = $("#txtSearch").val();
        GetSeasons(searchText, 1);
    });

    function GetSeasons(searchText, pageIndex) {
        $("#season-data-container").html("<tr><td colspan=\"6\" style=\"text-align:center\"><img src=\"../../Images/loading_dots.gif\" style=\"background-color: transparent;\" alt=\"Please wait..\" title=\"Please wait..\" /></td></tr>");
        $.ajax({
            url: '@Url.Action("GetSeasonsList", "Company")' + '?searchText=' + searchText + '&currentPage=' + pageIndex,
            type: 'GET',
            //data: '{"searchText":' + JSON.stringify(searchText) + ',"pageIndex":'+JSON.stringify(pageIndex)+'}',
            cache: false,
            success: function (result) {
                //console.log(result);
                $("#season-data-container").html(result);
                var totalSearchCount = $("#hdnTotalSearchCount").val();

                if (totalSearchCount > 0) {
                    $("#tblSeasons").show();
                    $("#paging-container").show();
                    $("#dMessage").hide();

                    var pageSize = $("#hdnPageSize").val();
                    var pageIndex = $("#hdnPageIndex").val();
                    var nextPageIndex = pageIndex;
                    var prevPageIndex = pageIndex;
                    var noOfPages = parseInt(totalSearchCount / pageSize);
                    if (totalSearchCount % pageSize > 0) {
                        noOfPages = noOfPages + 1;
                    }

                    if (parseInt(pageIndex) > 1 && parseInt(pageIndex) < parseInt(noOfPages)) {
                        nextPageIndex = parseInt(pageIndex) + 1;
                        prevPageIndex = parseInt(pageIndex) - 1;
                    }
                    else if (parseInt(pageIndex) == 1) {
                        nextPageIndex = parseInt(pageIndex) + 1;
                    }
                    else if (parseInt(pageIndex) == parseInt(noOfPages)) {
                        prevPageIndex = parseInt(pageIndex) - 1;
                    }
                    if (noOfPages > 1) {
                        var liHTML = "";
                        var liFirstHTML = "<li class=\"page-number\" data-value=\"" + prevPageIndex + "\"><a href=\"#\" aria-label=\"Previous\"><span aria-hidden=\"true\">«</span></a>";
                        var liLastHTML = "<li class=\"page-number\" data-value=\"" + nextPageIndex + "\"><a href=\"#\" aria-label=\"Next\"><span aria-hidden=\"true\">»</span></a>";


                        for (var i = 1; i <= noOfPages; i++) {
                            if (i == pageIndex)
                                liHTML = liHTML + "<li class=\"page-number\" data-value=\"" + i + "\"><a style=\"background: #F68C5E;color:#fff;\" href=\"#\">" + i + "</a></li>";
                            else
                                liHTML = liHTML + "<li class=\"page-number\" data-value=\"" + i + "\"><a href=\"#\">" + i + "</a></li>";
                        }
                        $("#paging-container").html(liFirstHTML + liHTML + liLastHTML);
                    }
                    else {
                        $("#paging-container").hide();
                    }
                }
                else {
                    $("#tblSeasons").hide();
                    $("#paging-container").hide();
                    $("#dMessage").show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error > " + jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }

    $(document).on("click", "#btnAddSeason", function () {
        AddSeason();
    });

    function AddSeason() {
        var seasonDetail = new Object();

        if ($("#txtSeasonName").val().trim().length == 0) {
            $("#myModal_addSeason").modal('toggle');
            $("#message-container").html("Please enter season name");
            $("#dErrorMessage").modal('toggle');
        }
        else {
            seasonDetail.Name = $("#txtSeasonName").val();
            seasonDetail.IsActive = ($("#chkIsDeactivated").is(":checked")) ? false : true;

            $.ajax({
                url: '@Url.Action("SaveSeason", "Company")',
                type: 'POST',
                data: '{"objSeasonsModel":' + JSON.stringify(seasonDetail) + '}',
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $("#txtSeasonName").val("");
                    $("#chkIsDeactivated").prop("checked", false);

                    $("#myModal_addSeason").modal('toggle');

                    GetSeasons("", 1);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error is below > ");
                    console.log(jqXHR);
                    console.log("Status > " + textStatus);
                    console.log("errorThrown > " + errorThrown);
                    //alert("Error");
                }
            });
        }
    }

    function LoadSeasonDetails(itm) {
        var item = itm;

        $.ajax({
            url: $(itm).attr("data-url") + '?seasonId=' + $(itm).attr("data-id"),
            type: 'GET',
            success: function (result) {
                console.log(result);
                $("#txtESeasonName_" + $(itm).attr("data-id")).val(result.Name);
                if (result.IsActive)
                    $("#chkEIsDeactivated_" + $(itm).attr("data-id")).prop("checked", false);
                else
                    $("#chkEIsDeactivated_" + $(itm).attr("data-id")).prop("checked", true);

                $("#myModal_editSeason_" + $(itm).attr("data-id")).modal('toggle');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error is below > ");
                console.log(jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }

    $(document).on("click", "#btnEditSeason", function () {
        EditSeason($(this).attr("data-id"));
    });

    function EditSeason(sID) {
        var seasonDetail = new Object();

        if ($("#txtESeasonName_" + sID).val().trim().length == 0) {
            $("#myModal_editSeason_" + sID).modal('toggle');
            $("#message-container").html("Please enter season name");
            $("#dErrorMessage").modal('toggle');
        }
        else {
            seasonDetail.ID = sID;
            seasonDetail.Name = $("#txtESeasonName_" + sID).val();
            seasonDetail.IsActive = ($("#chkEIsDeactivated_" + sID).is(":checked")) ? false : true;

            $.ajax({
                url: '@Url.Action("SaveSeason", "Company")',
                type: 'POST',
                data: '{"objSeasonsModel":' + JSON.stringify(seasonDetail) + '}',
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $("#txtESeasonName_" + sID).val("");
                    $("#chkEIsDeactivated_" + sID).prop("checked", false);

                    $("#myModal_editSeason_" + sID).modal('toggle');

                    window.location = '@Url.Action("Seasons", "Company")';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error is below > ");
                    console.log(jqXHR);
                    console.log("Status > " + textStatus);
                    console.log("errorThrown > " + errorThrown);
                    //alert("Error");
                }
            });
        }
    }

    $(document).on("click", "#btnDeleteSeason", function () {
        DeleteSeason($(this).attr("data-id"));
    });

    function DeleteSeason(seasonId) {
        $.ajax({
            url: '@Url.Action("DeleteSeason", "Company")',
            type: 'POST',
            data: '{"seasonId":\'' + seasonId + '\'}',
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                console.log(result);
                window.location = '@Url.Action("Seasons", "Company")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error is below > ");
                console.log(jqXHR);
                console.log("Status > " + textStatus);
                console.log("errorThrown > " + errorThrown);
                //alert("Error");
            }
        });
    }
</script>

